@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body {
  min-height: 100vh;
  background-color: #01392c;
  padding: 0;
  margin: 0;
  color: white;
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.5rem;
  line-height: 1;
}

p {
  margin: 1rem 0;
}

.btn {
  @apply shadow-md;
}

.btn.btn-ghost {
  @apply shadow-none;
}

h1 {
  @apply text-3xl my-4;
}

h2 {
  @apply text-2xl my-4;
}

ul {
  @apply list-disc my-4 ml-6;
}

li {
  @apply my-2 list-disc;
}

.button {
  @apply bg-black text-white p-3 rounded-md;
}

.button:hover {
  @apply bg-gray-800;
}

.button:active {
  @apply bg-gray-900 scale-90;
}

.label {
  margin-top: 16px;
  margin-bottom: 4px;
}

.label-text {
  color: #2fa087;
  font-weight: 600;
}
.label-text-alt {
  color: rgba(255, 255, 255, 0.5);
  margin-left: 8px;
  font-size: 0.8rem;
}

.input,
.textarea {
  color: white;
  background: rgba(255, 255, 255, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  padding: 0.5rem;
  margin-bottom: 4px;
}

.input::placeholder,
.textarea::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.socialIcon {
  fill: black;
}

@keyframes heartBeating {
  0%,
  100% {
    filter: brightness(1);
    transform: scale(1);
  }
  10% {
    filter: brightness(0.8);
    transform: scale(0.95);
  }
  20% {
    filter: brightness(1.2);
    transform: scale(1.05);
  }
  30%,
  70% {
    filter: brightness(0.8);
    transform: scale(0.95);
  }
  80% {
    filter: brightness(1.2);
    transform: scale(1.05);
  }
  90% {
    filter: brightness(0.8);
    transform: scale(0.95);
  }
}

.heartBeating {
  animation: heartBeating 1.2s infinite;
  animation-timing-function: ease-in-out;
  display: inline-block; /* Ensure transform applies correctly */
}
