@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-purple: "#9563D3";
  --grey-500: "#8F8A9D";
  --grey-350: "#B7ADC4";
  --grey-50: "#F1EDF2";
  --income-green: "#41BA47";
  --label-green: "#E0F2E1";
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-end-rgb));
}

html,
body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.5rem;
  line-height: 1;
}

p {
  margin: 1rem 0;
}

.btn {
  @apply shadow-md;
}

.btn.btn-ghost {
  @apply shadow-none;
}

h1 {
  @apply text-3xl my-4;
}

h2 {
  @apply text-2xl my-4;
}

ul {
  @apply list-disc my-4 ml-6;
}

li {
  @apply my-2 list-disc;
}

.button {
  @apply bg-black text-white p-3 rounded-md;
}

.button:hover {
  @apply bg-gray-800;
}

.button:active {
  @apply bg-gray-900 scale-90;
}

.label-text {
  color: white;
}

.input,
.textarea {
  color: black;
}

.socialIcon {
  fill: black;
}
